body{
    background: url("../img/patrick.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1080px;
    background-attachment: scroll;
    /*color: white;*/
}

.first-card{
    margin-top: 200px;
    min-height: 45%;
    transition: width 4s;
}

/*.first-card-content{*/
    /*margin-top: 50px;*/
/*}*/

.card{
    opacity: 0.9;
}

.welcome-screen > div > .welcome-content{
    opacity: 0;
}

.login-welcome-txt{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 80px;
}

.login-name-txt{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 40px;
}

.welcome-screen > .login-welcome-txt{
    margin-top: 12%;
}

.preloader-wrapper{
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}