@font-face {
    font-family: din;
    src: url('../fonts/DINPro-Bold.OTF');
}

.ui.inverted.menu{
    background: #262626;
}

#index-slid-ad{
    /*background: url("../img/header-ad.png") no-repeat;*/
    /*height: 800px;*/
}

/*footer.footer {*/
    /*text-align: center;*/
    /*margin-top: 70px;*/
    /*border-top: 1px solid #E5E5E5;*/
/*}*/

/*.ui.footer.segment {*/
    /*margin: 30em 00em 0em;*/
    /*padding: 5em 0em;*/
/*}*/

#dashboard{
    padding-top: 7em;
}

.ui.segment{
    margin-bottom: 50px !important;
}

.modal-title{
    padding: 20px 0px 0px 20px;
    text-align: center;
}

.ui.fluid-container, .ui.container{
    padding-top: 7.3em;
}

#top-main-menu{
    z-index: 998;
}

#left-main-menu > .menu-item{
    margin-top: 60px;
}